* {
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}

body {
    display: grid;
}

.grid {
    display: grid;
}

.calculator-box {
    height: 90vh;
    width: 70vh;
    border-style: solid;
    border-color: darkgrey;
    border-width: 8px;
    border-radius: 3px;
    top: 50%;
    left: 50%;
    margin-top: calc(-90vh/2);
    margin-left: calc(-70vh/2);
    position: absolute;
    background-color: black;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(6, minmax(0, 1fr));
    grid-gap: 3px;
}

.screen {
    margin-top:7px;
    margin-bottom: 4px;
    margin-right: 4px;
    margin-left: 4px;
    background-color:blanchedalmond;
    border-radius: 5px;
    grid-column: 1 / span 4;
    justify-content: right;
    align-items: center;
    display: flex;
    padding: 10px;
    font-size: 25px;
}

.number-key{
    display: flex;
    background-color: grey;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    /*border: 3px solid black;*/
}

.operator-key{
    display: flex;
    background-color: orangered;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    /*border: 3px solid black;*/
}

#add{
    grid-row: 3 / span 2;
    grid-column: 4;
}

#enter{
    grid-row: 5 / span 2;
    grid-column: 4;
}

#_0{
    grid-row: 6;
    grid-column: 1 / span 2;
}