* {
    margin: 0;
    padding: 0;
    gap: 3px;
}

body {
    display: grid;
}

.flex {
    display: flex;
    flex: 1 1 0px;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.calculator-box {
    height: 90vh;
    width: 70vh;
    flex-direction: column;
    border-style: solid;
    border-color: darkgrey;
    border-width: 8px;
    border-radius: 3px;
    top: 50%;
    left: 50%;
    margin-top: calc(-90vh/2);
    margin-left: calc(-70vh/2);
    position: absolute;
    background-color: black;
}

.screen {
    display:flex;
    flex: 1.5 1 auto;
    margin-top:7px;
    margin-bottom: 4px;
    margin-right: 2px;
    margin-left: 2px;
    background-color:blanchedalmond;
    border-radius: 5px;
}

.first-row {
    display:flex;
    flex-direction: row;
    flex: 1 1 auto;
}

.bottom-rows {
    display: flex;
    flex: 4 1 auto;
    flex-direction: column;
}

.second-two-rows {
    display: flex;
    flex: 2 1 auto;
    flex-direction: row;
}

.third-two-rows {
    display: flex;
    flex: 2 1 auto;
    flex-direction: row;
}

._789-456 {
    display: flex;
    flex: 3 1 0px;
    flex-direction: column;
}

._123-0dot{
    display: flex;
    flex: 3 1 0px;
    flex-direction: column;
}

.square-key {
    display: flex;
    flex: 1 1 0px;
}

.wide-key{
    display: flex;
    flex: 2 1 0px;
}

.number-key{
    background-color: grey;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    /*border: 3px solid black;*/
}

.operator-key{
    background-color: orangered;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    /*border: 3px solid black;*/
}